/*importing google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400..700&family=Kurale&family=Lobster&family=Oswald:wght@200..700&family=Playwrite+FR+Moderne:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400..700&family=Lobster&family=Oswald:wght@200..700&family=Playwrite+FR+Moderne:wght@100..400&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400..700&family=Lobster&family=Oswald:wght@200..700&family=Playwrite+FR+Moderne:wght@100..400&display=swap');
body {
    background-image: url('https://thumbs.dreamstime.com/b/seamless-pattern-watercolor-painting-watermelon-dark-green-background-seamless-pattern-watercolor-painting-watermelon-141034651.jpg');
    font-family: Arial, sans-serif;
    background-color: #afdf9a;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
   
    color: rgb(255, 255, 255);
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 35px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.lyrics-box {
    text-align: center;
    background-color: rgb(188, 247, 161);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.lyrics p {
    
    font-style: oblique;
    line-height: 1.6;
    margin: 0.5em 0;
}

/* Theme-specific styles */
.summer {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-size:30px;
    color: #FFA07A;
}

.song {
    font-family: 'Playfair Display', serif;
    color: #6A5ACD;
    font-size: 20px;
}

.desire {
    font-family: fantasy;
    color: #DC143C;
    font-size: 20px;
}

.warmth {
    font-family: monospace;
    color: #dbbc0c;
    font-size: 20px;
}

.breath {
    font-family: "Kurale", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #4682B4;
}

.doubt {
    font-family: "Playwrite FR Moderne", cursive;
    font-optical-sizing: auto;
    font-size: 20px;
    color: #289f15;
}

.thinking {
    color: #8B0000;
    font-weight: bold;
}

.high {
    font-family:'Pacifico', cursive;
    color: #FF4500;
    font-weight: bold;
    font-size: 25px;
}

.Harrystyles-img {
    margin-top: 20px;
    max-width: 100%;
    height: 150px;
}
